@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600&display=swap');

:root {
    --text-weight--400: 400;
    --text-weight--500: 500;
    --text-weight--600: 600;
    --text-weight--700: 700;
    --font-size--13: 13px;
    --font-size--14: 14px;
    --font-size--16: 16px;
    --font-size--18: 18px;
    --font-size--20: 20px;
    --font-size--22: 22px;
    --font-size--24: 24px;
    --font-size--26: 26px;
    --font-size--28: 28px;
    --font-size--30: 30px;
    --font-size--32: 32px;
    --font-size--34: 34px;
    --font-size--36: 36px;
    --font-size--42: 42px;
    --font-size--48: 48px;
    --font-size--50: 50px;
    --font-size--52: 52px;
    --font-size--58: 58px;
    --font-size--60: 60px;
    --font-size--70: 70px;
    --color-background: #ffffff;
    --color-white: #ffffff;
    --color-background2: #fafafa;
    --color-background3: #f8f8f8;
    --color-background4: #f8f8f8;
    --color-secondary: #f2f2f2;
    --color-secondary2: #f2f2f2;
    --color-green: #7FB82D;
    --color-error: #ED2B2A;
    --color-grey: #6a6a6a;
    --color-heading: #303030;
    --color-heading2: #303030;
    --color-heading3: #303030;
    --color-heading4: #303030;
    --color--footer: #303030;
    --color-paragraph: #808080;
    --color-paragraph2: #808080;
    --color-span: #ababab;
    --color-list: #999;
    --color-list2: #999;
}

html[data-theme="dark"] {
    --color-background: #303030;
    --color-grey: #f8f8f8;
    --color-heading: #fafafa;
    --color-heading2: #808080;
    --color-heading3: #fafafa;
    --color-background2: #222222;
    --color-paragraph2: #f2f2f2;
    --color-secondary: #303030;
    --color-secondary2: #808080;
    --color-background4: #222222;
    --color-list2: #303030;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: var(--color-background);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    list-style-type: none;
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var(--color-heading);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--color-green);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1300px;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* NAVBAR CSS START */
.navbar__container {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-secondary);
    height: 92px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.navbar__content {
    margin: 0 auto;
    max-width: 100%;
    width: 1300px;
    gap: 10px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar__logo>a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: var(--color-grey);
}

.navbar__title {
    color: var(--color-grey);
    font-size: var(--font-size--28);
    font-weight: var(--text-weight--400);
}

.page__load__icon {
    width: 160px;
    height: 160px;
}

.navbar__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    align-self: stretch;
    padding: 0;
    margin: 0;
    align-items: center;
    white-space: nowrap;
}

.navbar__item,
.navbar__item>a,
.navbar__logo {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.navbar__logo.navbar__logo--load__page {
    animation: pageLoad 2s linear infinite;
}

@keyframes pageLoad {
    50% {
        transform: translateY(-35px);
    }
}

.navbar__item>a {
    color: var(--color-grey);
    font-size: var(--font-size--16);
    font-weight: var(--text-weight--600);
}

.navbar__item.navbar__item--responsive__menu>a {
    color: var(--color-heading);
    font-size: var(--font-size--20);
    font-weight: var(--text-weight--600);
    margin-bottom: 13px;
}

.navbar__item.active>a {
    color: var(--color-green);
}

.search__container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.search__container.active {
    visibility: visible;
    opacity: 1;
    position: absolute;
    background: var(--color-background2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    align-items: center;
    gap: 15px;
    color: var(--color-heading);
    border: 1px solid var(--color-span);
    box-shadow: 0px 15px 30px 0px rgba(0, 33, 85, 0.1);
}

.search__container>input {
    outline: none;
    border: none;
    background: transparent;
    color: var(--color-heading);
    letter-spacing: 0.1em;
    font-size: var(--font-size--15);
}

.responsive__menu__container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    transition: all 0.4s ease;
    width: calc(100% - 32px);
}

.responsive__menu__container.active {
    opacity: 1;
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--color-background2);
    border: 1px solid var(--color-secondary);
    padding: 15px;
    z-index: 555;
}

.navbar__item>a:hover {
    color: var(--color-green);
}

.icon-tabler-menu-2 {
    display: none;
}

.navbar__item--setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    height: 100%;
    gap: 8px;
}

.theme__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--color-green);
    width: var(--font-size--34);
    height: var(--font-size--34);
    color: var(--color-background3);
    border: 1px solid var(--color-green);
    cursor: pointer;
}

.theme__button.theme__button--circular {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.theme__button--users__image {
    position: relative;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.theme__button--users__image>img {
    width: var(--font-size--34);
    height: var(--font-size--34);
    border-radius: 10px;
}

.users__dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.users__dropdown.active {
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-background2);
    color: var(--color-heading);
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid var(--color-span);
}

.users__dropdown.active>span {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid var(--color-span);
}

.users__menu__dropdown__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    gap: 5px;
    padding: 5px;
    align-items: end;
    transition: all 0.4s ease-in-out;
    border-radius: 8px;
    color: var(--color-heading);
}

.users__menu__dropdown__content:hover {
    background: var(--color-green);
    transition: all 0.4s ease-in-out;
    color: var(--color-background3);
}

/* NAVBAR CSS END */

/* HOME PAGE CSS START */
.page__content {
    width: 100%;
    height: 826px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/home__page__img.jpg");
}

.page__header__comment {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.page__header__comment--project {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.project__hr {
    width: 30%;
    border-bottom: -0.7px solid var(--color-span);
}

.header,
.header__comment {
    color: var(--color-background3);
    font-weight: var(--text-weight--700);
    font-size: var(--font-size--70);
    flex-wrap: wrap;
    display: flex;
}

.icon-tabler-plant-2 {
    color: var(--color-white);
}

.header__comment {
    font-size: var(--font-size--22);
    font-weight: var(--text-weight--500);
}

.page__header__comment--content {
    margin: 80px 0 80px 0;
    justify-content: start;
}

.container__background.container__background--about.details__page {
    padding: 0 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchase__button {
    width: 170px;
    height: 50px;
    background: var(--color-green);
    color: var(--color-white);
    font-weight: var(--text-weight--500);
    font-size: var(--font-size--20);
    border-radius: 25px;
    border: 1px solid var(--color-green);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0.1em;
}

.purchase__button:hover {
    background: var(--color-background);
    color: var(--color-green);
    border: 1px solid var(--color-background);
}

.content__header {
    color: var(--color-heading);
    font-size: var(--font-size--48);
    font-weight: var(--text-weight--600);
    flex-wrap: wrap;
    display: flex;
}

.content__header.content__header--white {
    color: var(--color-heading4);
}

.content__header.content__header--black {
    color: #222222;
}

.user__guide {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    margin-top: 30px;
}

.user__guide.user__guide--number>h6 {
    color: var(--color-heading);
    font-weight: var(--text-weight--700);
    font-size: var(--font-size--42);
}

.user__guide.user__guide--number>p {
    color: var(--color-green);
    font-weight: var(--text-weight--700);
    font-size: var(--font-size--14);
    white-space: nowrap;
}

.user__guide>svg {
    color: var(--color-green);
}

.user__guide>h6 {
    color: var(--color-heading);
    font-weight: var(--text-weight--700);
    font-size: var(--font-size--20);
}

.user__guide>p {
    color: var(--color-paragraph);
    font-weight: var(--text-weight--500);
    font-size: var(--font-size--15);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

.grid-4.grid-4--footer {
    gap: 30px;
}

.grid-4.grid-4--nowrap {
    gap: 0px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

.grid-2.grid-2__gap {
    gap: 30px;
}

.grid-2.grid-2__nowrap {
    gap: 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

.content__header.content__header--comment {
    font-weight: var(--text-weight--400);
    color: var(--color-paragraph);
    font-size: var(--font-size--18);
    flex-wrap: wrap;
    display: flex;
}

.container__background {
    background: var(--color-background2);
    padding: 50px 0 50px 0;
}

.container__background--about {
    padding: 10px 0 50px 0;
}

.basket__vegetables {
    height: auto;
    max-width: 100%;
}

.questions__card {
    background-color: var(--color-heading2);
    max-width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--color-paragraph2);
    border: 1px solid var(--color-paragraph2);
    border-left: none;
}

.questions__card>svg {
    color: var(--color-green);
    display: flex;
    align-items: start;
}

.questions__card>h6 {
    color: var(--color-background2);
    font-size: var(--font-size--20);
    font-weight: var(--text-weight--700);
    white-space: wrap;
}

.cards {
    margin-top: 40px;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 35px;
    background: var(--color-background);
}

.cards--profil {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    transition: all 0.4s ease-in-out;
    margin-bottom: 0px;
    cursor: pointer;
}

.cards--doctor {
    background-image: url("../img/dcotor__background.jpg");
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px;
}

.appointment__button {
    position: relative;
    outline: none;
    background: var(--color-green);
    border: transparent;
    font-size: var(--font-size--16);
    font-weight: var(--text-weight--500);
    color: var(--color-white);
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

.appointment__button:hover {
    background: var(--color-white);
    color: var(--color-green);
}

.cards>p {
    font-weight: var(--text-weight--500);
    color: var(--color-heading);
    font-size: var(--font-size--16);
}

.customers__comment__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 2px;
    color: yellow;
}

.users__image {
    width: 70px;
    height:70px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    color: var(--color-background2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.users__image--doctor>img {
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}

.customers__comment__user--about {
    flex-direction: column;
    gap: 25px;
}

.customers__comment__header.customers__comment__header--about>span {
    color: var(--color-background2);
    font-size: var(--font-size--18);
}

.doctor__comment {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.customers__comment__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customers__comment__header.customers__comment__header--about {
    align-items: center;

}

.customers__comment__header>h5 {
    font-size: var(--font-size--22);
    font-weight: var(--text-weight--700);
    color: var(--color-heading);
}

.customers__comment__header>span {
    font-size: var(--font-size--13);
    font-weight: var(--text-weight--600);
    color: var(--color-green);
}

.customers__hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.7px solid var(--color-secondary);
}

/* HOME PAGE CSS END */

/* FOOTER CSS START */
.footer__container {
    width: 100%;
    height: 100%;
    background: var(--color--footer);
}

.footer__content {
    padding: 50px 0 50px 0;
}

.footer__comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__comment>h6,
a,
h3 {
    font-size: var(--font-size--16);
    color: var(--color-span);
    font-weight: var(--text-weight--500);
    transition: all 0.4s ease-in-out;
}

.footer__comment>a {
    font-size: var(--font-size--18);
    color: var(--color-background3);
    cursor: pointer;
}

.footer__comment>a:hover {
    color: var(--color-green);
    text-decoration: underline;
}

.footer__comment>h3 {
    font-size: var(--font-size--26);
    color: var(--color-span);
}

.footer__social__media {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.theme__button--footer {
    width: var(--font-size--36);
    height: var(--font-size--36);
    background: var(--color-background3);
    cursor: pointer;
    border-radius: 50%;
    border: transparent;
}

.theme__button--details {
    position: relative;
    width: var(--font-size--50);
    height: var(--font-size--50);
    background: var(--color-green);
    border-radius: 50%;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: var(--font-size--22);
    margin-bottom: 30px;
    flex: none;
}

.theme__button--details::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 80px;
    background: var(--color-green);
    position: absolute;
    z-index: 0;
    top: 50px;
}

.theme__button--details__end:after {
    height: 0px;
}

.theme__button--footer>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-green);
}

.theme__button--footer:hover {
    transform: rotateY(360deg);
    transition: all 0.5s ease-in-out;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe {
    border-radius: 10px;
    padding: 13px;
    width: 220px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--color-background3);
    color: var(--color-background3);
    letter-spacing: 0.1em;
    font-size: var(--font-size--14);
}

.subscribe__button {
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    outline: none;
    border: 1px solid var(--color-green);
    background: var(--color-green);
    cursor: pointer;
    color: var(--color-background3);
    font-size: var(--font-size--16);
    font-weight: var(--text-weight--500);
    transition: all 0.4s ease-in-out;
    letter-spacing: 0.1em;
}

.subscribe__button.subscribe__button--black:hover {
    background: var(--color-background4);
    border: 1px solid var(--color-background4);
    color: var(--color-green);
}

.subscribe__button:hover {
    border: 1px solid var(--color-background2);
    background: var(--color-background2);
    color: var(--color-green);
}

/* FOOTER CSS END */

/* ABOUT PAGE CSS START */
.page__content--about {
    justify-content: start;
    background-image: url("../img/about__page__img.jpg");
    height: 450px;
    background-size: cover;
    background-position: center;
}

.page__content--about.dark {
    background-image: url("../img/dark__background.jpg");
}

.page__header__comment--about {
    align-items: start;
    gap: 10px;
}

.page__subtitle {
    color: var(--color-heading3);
    font-size: var(--font-size--58);
}

.page__header__subtitle__comment {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
    white-space: nowrap;
}

.page__header__subtitle__comment>a {
    display: flex;
    align-items: end;
    gap: 5px;
    color: var(--color-heading3);
    font-weight: var(--text-weight--400);
    font-size: var(--font-size--18);
}

.page__header__subtitle__comment>h6 {
    color: var(--color-green);
    font-size: var(--font-size--18);
    font-weight: var(--text-weight--400);
}

.page__header__subtitle__comment>a:hover {
    color: var(--color-green);
}

.cards.cards--grey {
    background: var(--color-background4);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: auto;
    width: auto;
}

.cards.cards--grey.cards--grey__contact {
    padding: 60px 30px 60px 30px;
    margin-bottom: 0;
}

.cards.cards--grey.cards--grey__contact>p {
    font-weight: var(--text-weight--400);
    color: #6C6C6C;
    font-size: var(--font-size--16);
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.cards.cards--grey.cards--grey__contact>h1 {
    font-size: var(--font-size--28);
    margin: 10px 0 5px 0;
    color: var(--color-heading);
}

.cards.cards--grey>h5 {
    font-size: var(--font-size--22);
    color: var(--color-heading);
    font-weight: var(--text-weight--700);
}

.read__more__button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-green);
    font-size: var(--font-size--17);
    letter-spacing: 0.1em;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.read__more__button:hover {
    background: var(--color-green);
    color: var(--color-background3);
}

.cards.cards--grey>p {
    font-size: var(--font-size--16);
    color: var(--color-paragraph);
}

.references__container {
    max-width: 100%;
    height: 100%;
    background: var(--color-green);
    padding: 25px;
}

.references__container.references__container--black {
    background: var(--color-secondary2);
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.reference__image {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}

.reference__image:hover {
    opacity: 1;
    transform: scale(1.05);
}

.subscribe__button.subscribe__button--black.subscribe__button--calculate {
    width: auto;
    letter-spacing: 0.2em;
}

.login__page__footer__container>a.profil__details {
    padding: 10px;
    border-radius: 10px;
    background: var(--color-heading4);
    color: var(--color-white);
    font-size: var(--font-size--16);
    letter-spacing: 0.1em;
    transition: all 0.4s ease-in-out;
}

.login__page__footer__container>a.profil__details:hover {
    background: var(--color-list);
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

/* ABOUT PAGE CSS END */

/* CONTACT PAGE CSS START */
.contact__area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.contact__area.contact__area--width {
    width: 60%;
}

.contact__name,
.contact__number,
.contact__email,
.contact__subject,
.contact__message,
.contact__password {
    background: var(--color-background);
    border: 1px solid var(--color-background4);
    padding: 10px;
    border-radius: 3px;
    outline: none;
    height: 34px;
    width: auto;
    letter-spacing: 0.1em;
    color: var(--color-heading);
    font-size: var(--font-size--15);
    transition: all 0.4s ease-in-out;
}

.contact__name.error,
.contact__email.error,
.contact__password.error {
    border: 1px solid var(--color-error);
}

.contact__name.error::placeholder,
.contact__email.error::placeholder,
.contact__password.error::placeholder {
    color: var(--color-error);
}

.error__message {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    font-size: var(--font-size--20);
}

.error__message.active {
    opacity: 1;
    visibility: visible;
    color: var(--color-error);
}

.contact__message {
    resize: vertical;
    height: 470px;
}

.contact__message::placeholder {
    letter-spacing: 0.1em;
    font-size: var(--font-size--15);
    font-weight: var(--text-weight--400);
    font-family: 'Josefin Sans', sans-serif;
}

.contact__name:is(:hover, :focus),
.contact__number:is(:hover, :focus),
.contact__email:is(:hover, :focus),
.contact__subject:is(:hover, :focus),
.contact__message:is(:hover, :focus),
.contact__password:is(:hover, :focus) {
    border: 1px solid var(--color-green);
}

.subscribe__button.subscribe__button--contact {
    width: 160px;
    padding: 15px;
}

.subscribe__button.subscribe__button--contact.black:hover {
    background: var(--color-heading);
    color: var(--color-background);
}

/* CONTACT PAGE CSS END */

/* LOGIN PAGE / SIGN UP PAGE CSS START */
.full__width__background {
    background: var(--color-secondary2);
    background-image: url("../img/background.png");
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 50px 90px 50px;
}

.full__width__background--page__load {
    background: var(--color-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.login__page__footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.login__page__footer__container>a {
    color: var(--color-heading4);
    font-size: var(--font-size--20);
}

.login__page__footer__container>a:hover {
    color: var(--color-green);
}

/* LOGIN PAGE / SIGN UP PAGE CSS END */


/* PROFIL PAGE CSS START */
.cards__content__number {
    font-size: var(--font-size--36);
    font-weight: var(--text-weight--600);
    color: var(--color-heading);
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
}

.cards__content__media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__content__icon {
    margin-top: 2px;
    top: -20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--color-background3);
    color: var(--color-green);
    z-index: 5;
}

.cards__content__services {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 13px;
}

.cards__content__services>h5 {
    font-size: var(--font-size--24);
    color: var(--color-heading);
}

.cards__content__services>p {
    font-weight: var(--text-weight--400);
    font-size: var(--font-size--18);
    letter-spacing: 0.1em;
    color: var(--color-paragraph);
}

.profil__image {
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
}

.cards__content__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.cards--profil:hover>.cards__content__number {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.cards--profil:hover>.cards__content__media>.cards__content__image>.profil__image {
    transform: scale(1.2);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.cards--profil:hover>.cards__content__media>.cards__content__icon {
    background: var(--color-green);
    color: var(--color-background3);
    transition: all 0.4s ease-in-out;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size--32);
    font-weight: var(--text-weight--500);
    letter-spacing: 0.1em;
}

.table__container {
    overflow-x: auto;
    width: 100%;
}

#users,
#meeting {
    border-collapse: collapse;
    width: 100%;
    background: var(--color-background3);
}

#users td,
#users th,
#meeting td,
#meeting th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: var(--font-size--16);
    width: 46%;
}

#meeting td,
#meeting th {
    padding: 8px;
}

#users tr:nth-child(even),
#meeting tr:nth-child(even) {
    background: #f2f2f2;
}

#users tr:hover,
#meeting tr:hover {
    background: rgb(127, 184, 45, 0.1);
}

#users th,
#meeting th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-green);
    color: var(--color-white);
    letter-spacing: 0.1em;
}

.table__pagination {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    gap: 5px;
}

.pagination__item,
.pagination,
.change__button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: var(--font-size--36);
    height: var(--font-size--36);
    cursor: pointer;
    border: 1px solid var(--color-green);
    color: var(--color-green);
    font-size: var(--font-size--16);
    font-weight: var(--text-weight--500);
    background: var(--color-background2);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.change__button {
    background: var(--color-white);
}

.pagination__item.active {
    background: var(--color-green);
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

.pagination,
.change__button {
    padding: 8px 15px 8px 15px;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    height: auto;
}

.pagination:hover,
.change__button:hover {
    color: var(--color-green);
    background: rgb(127, 184, 45, 0.1);
    border: 1px solid var(--color-green);
}

.progressbar__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.progressbar__header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
}

.progress__bar {
    position: relative;
    width: 100%;
    background: var(--color-secondary2);
    height: 10px;
    border-radius: 10px;
}

.progressbar__header>span {
    font-size: var(--font-size--18);
    color: var(--color-heading);
}

.progress__bar--green {
    position: absolute;
    background-color: #7FB82D;
    height: 10px;
    border-radius: 10px;
}

.details__information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--color-heading4);
}

.details__information.details__information--content {
    text-align: left;
    gap: 5px;
}

.information__content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: start;
    align-items: center;
}

.information__head {
    font-size: var(--font-size--22);
}

/* PROFIL PAGE CSS START */


@media (max-width:575px) {
    .grid-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-2.grid-2__gap {
        gap: 0px;
    }

    .icon-tabler-menu-2 {
        display: flex;
    }

    .navbar__title {
        display: none;
    }

    .navbar__item.navbar__item--link {
        display: none;
    }

    .grid-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .login__page__footer__container {
        flex-direction: column;
    }

    .contact__name,
    .contact__number,
    .contact__email,
    .contact__subject,
    .contact__message,
    .contact__password {
        font-size: var(--font-size--13);
    }

    .contact__area.contact__area--width {
        width: 100%;
    }
}

@media (min-width:576px) {

    .icon-tabler-menu-2 {
        display: flex;
    }

    .navbar__title {
        display: none;
    }

    .navbar__item.navbar__item--link {
        display: none;
    }

    .grid-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-2.grid-2__gap {
        gap: 0px;
    }

    .login__page__footer__container {
        flex-direction: column;
    }

    .contact__area.contact__area--width {
        width: 100%;
    }
}

@media (min-width:768px) {

    .theme__button.theme__button--menu {
        display: none;
    }

    .responsive__menu__container.active {
        display: none;
    }

    .navbar__item.navbar__item--link {
        display: flex;
    }

    .navbar__title {
        display: flex;
    }

    .grid-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-2.grid-2__gap {
        gap: 0px;
    }

    .login__page__footer__container {
        flex-direction: row;
    }

    .contact__area.contact__area--width {
        width: 100%;
    }
}

@media (min-width:992px) {

    .grid-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-2.grid-2__gap {
        gap: 30px;
    }

    .theme__button.theme__button--menu {
        display: none;
    }

    .navbar__title {
        display: flex;
    }

    .navbar__item.navbar__item--link {
        display: flex;
    }

    .login__page__footer__container {
        flex-direction: row;
    }

    .contact__area.contact__area--width {
        width: 80%;
    }
}

@media (min-width:1200px) {

    .grid-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .grid-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .login__page__footer__container {
        flex-direction: row;
    }

    .contact__area.contact__area--width {
        width: 60%;
    }

}